// Mixins in here

.bottom-dashed {
  border-bottom: 2px dashed gray;
}


.button(@border-radius; @padding; @bg-color) {
  color: white;
  font-size: 1.8rem;
  background-color: @bg-color;
  text-align: center;
  display: inline-block;
  margin: auto;
  border-radius: @border-radius;
  padding: @padding;
  // border-radius: 12px;
  // padding: 15px 52px;
}
